<%= form_with(model: setup_team(team), local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Team</h3>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :abbreviation %>
    <%= form.text_field :abbreviation %>
  </div>

  <h3>Manager</h3>

  <%= form.fields_for :manager do |manager_form| %>
    <div class="field">
      <%= manager_form.label :name %>
      <%= manager_form.text_field :name %>
    </div>

    <div class="field">
      <%= manager_form.label :age %>
      <%= manager_form.text_field :age %>
    </div>
  <% end %>

  <h3>Players</h3>

  <% team.players.each do |player| %>
    <%= form.fields_for :players,player do |player_form| %>
      <div class="field">
        <%= player_form.label :name %>
       <%= player_form.text_field :name %>
      </div>

      <div class="field">
        <%= player_form.label :number %>
        <%= player_form.text_field :number %>
      </div>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
